body {
    background-color: black;
    display: flex;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.pics {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 60vh;
    object-fit: contain;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    gap: 75px;
}

.arrow {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

.arrow-left {
    transform: rotate(180deg);
}

.image-gallery {
    max-width: 50vw;
    max-height: 60vh;
}